<h5> Lista de casas a visitar </h5>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Direccion</th>
        <th scope="col">Operacion</th>
        <th scope="col">Valor</th>
        <th scope="col">Cant Ambientes</th>
        <th scope="col">Inmobiliaria</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inmueble of inmuebles">
        <th><img [src]="inmueble.imagen" [alt]="inmueble.direccion" class="img-thumbnail"></th>
        <th> {{inmueble.direccion}} </th>
        <td> {{inmueble.valor}} </td>
        <td> {{inmueble.ambientes}} </td>        
        <td> {{inmueble.inmobiliaria}} </td>
        <td> {{inmueble.operacion}} </td>
        <td> 
          <button *ngIf="inmueble.disponible; else noDisponible" type="button" class="btn btn-success">Visitar</button> 
          <ng-template #noDisponible> 
            <button type="button" class="btn btn-info">Contactar</button> 
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>