<header>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('../../../assets/img/casa_home.png')">
          <div class="carousel-caption">
            <h5>Compra de casas</h5>
            <p> Casas de 4 y 5 ambientes disponibles</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../../assets/img/dpto_home.jpg')">
          <div class="carousel-caption">
            <h5>Alquiler de departamentos</h5>
            <p> Departamentos para alquilar, monoambientes, 1 y 2 habitaciones.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../../assets/img/inmobiliaria_home.jpg')">
          <div class="carousel-caption">
            <h5> Elegi tu inmobiliaria </h5>
            <p> Tenemos hasta 30 inmobiliarias totalmente certificadas y confiables.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="fw-light">Bienvenido a tu Futuro Hogar</h1>
      <p class="lead"> En esta pagina encontraras casas y departamentos para comprar o alquilar que vas a poder ir a visitar simplemente guardando una cita en tu calendario. </p>
    </div>
  </section>