<h5 class="mb-4"> Calendario de Visitas </h5>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">Maipu 123 </p>
      <small> 06/10/22 - 14hs </small>
    </div>
    <p class="mb-1 text-left"> Gomez Hermanos	Inmobiliaria </p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1"> Belgrano 123	</p>
      <small> 07/10/22 - 9hs </small>
    </div>
    <p class="mb-1 text-left"> Rissos Imb	 </p>
  </a>
</div>